*{
    margin: 0;
    padding: 0;
}

/*
    The background-color property specifies the background color of an element.
*/
header{
    margin: 0 auto;
    padding: 10px;
    width: 50%;
    height: 200px;
    background-color: blue;
}


/*
    The background-image property specifies an image to use as the background of an element.

    By default, the background-image property repeats an image both horizontally and vertically.
*/
main{
    margin: 0 auto;
    padding: 10px;
    width: 50%;
    height: 200px;
    background-image: url("https://images.unsplash.com/photo-1716980197262-ce400709bf0d?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}


/*

*/
#bg-repeat{
    margin: 0 auto;
    padding: 10px;
    width: 50%;
    height: 200px;
    background-image: url("https://images.unsplash.com/photo-1716980197262-ce400709bf0d?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat; /* show background image only once */
    
    /* repeat-x -> repeat horizontally | repeat-y -> repeat virtically*/
}


































